[Desktop Entry]
Name=World Clock
Keywords=Clock;Time;Timezone;
Categories=Utility;

Type=Application
Icon=io.github.cosmic-utils.cosmic-ext-applet-world-clock-symbolic
Exec=cosmic-ext-applet-world-clock
Terminal=false
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
